:root {
  --light-blue: #0079c1;
  --dark-blue: #00457c;
}

#cart {
  min-height: 90vh;
  width: 100%;
  background-color: #273b52;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  padding-top: 3rem;
}

#actualCart {
  background-color: white;
  width: 50%;
  /* min-height: 711vh; */
  position: relative;
  font-family: "Poppins", sans-serif;
  margin-bottom: 6rem;
  border-radius: 16px;
}
#payment {
  background-color: #4c9bc0;
  width: 28%;
  height: 100%;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 1%;
  padding-bottom: 2rem;
  border: 2px solid white;
}

.liItem {
  display: flex;
  margin: 0rem 2rem;
  padding: 1rem 0;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.liItem:last-child {
  border-bottom: none;
}

.liItem > * {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgDiv {
  display: flex;
  justify-content: flex-start;
}

.liItem img {
  width: 6rem;
  height: 6rem;
  border: 1px rgb(220, 220, 220) solid;
  margin-right: 4rem;
}

#totalcart {
  /* position: absolute;
  bottom: 0;
  right: 0; */
  padding-top: 2rem;
  /* margin: 1rem 1.7rem; */
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
}
.count {
  margin-left: 0.5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  text-align: center;
  font-size: 1rem;
}

#payment > button {
  background-color: white;
  width: 80%;
  padding: 1.3rem 2rem;
  font-size: 1.1rem;
  margin: 0.5rem 0;
  border-radius: 2rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

#payment > button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  --light-blue: white;
  --dark-blue: white;
}

.darkblue {
  color: var(--dark-blue);
}

.payment-method {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.lightblue {
  color: var(--light-blue);
  margin-left: 0;
}

.removeCartItem {
  display: flex;
  width: 5%;
  justify-content: flex-start;
}

.xRemove {
  margin-left: 1rem;
  border: none;
  background-color: white;
  font-size: 1.3rem;
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.countDiv {
  width: 15%;
  word-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  #cart {
    flex-direction: column-reverse;
    align-items: center;
  }
  #actualCart {
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 3rem;
  }
  #payment {
    width: 85%;
    position: relative;
  }
}
