* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

body {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

html,
body,
#root {
  height: 100%;
}

@media only screen and (max-width: 1310px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}
